body {
    padding: 50px;
    background-color: #66CCFF;
    font-family: sans-serif;
    position: sticky ;
    /* top:2px; */
  }

.search-bar{
    display: flex;
    align-items: baseline;
    padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;

}
.search-bar button{
    padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;

}
.search-bar button:hover{
    background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.search-bar input{
    padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 180px;
}

.header-container{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px black;
}


.outer-container{
    display: flex;
    justify-content: center;
}

.delete-button{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  cursor: pointer;
}

.list li{
    list-style: none;
    flex-grow: 4;
    padding-left: 0;
     width: 250px;
     text-align:justify;
    font-size: 26px;
    font-weight: 1;
    position: relative;
    left: 8px ;
    top:5px;
     color:black;
     text-shadow: none;
}
.list li{
    cursor: grab;
}
.list li:hover{
    color: rgba(210, 168, 30,0.6);

}

.list-element{
    display: flex;
    align-items: baseline;
    flex-basis: 100%;
    color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color .2s ease-in;

}

.list-element button{
    padding: 10px;
    font-size: 10px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}
.list-element button:hover{
    background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;

}
.remove-button:hover{
    background-color: crimson !important;
    transition: background-color .2s ease-in;

}
.done-button:hover{
    background-color: darkolivegreen !important;
}
.list-content{
    /* display: flex; */
    width: 300px;
 
}
.formUpdate{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    
}
.formUpdate button{
    font-size:13px ;
    margin-left: 5px;
    padding: 12px;
    background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.formUpdate button:hover{
    background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;

}
.formUpdate input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 180px;
    color:blue;
    
}